* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-500.ttf");
  font-weight: 500; }
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-700.ttf");
  font-weight: 700; }
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400; }
header {
  display: flex;
  align-items: center;
  padding: 30px 20px;
  justify-content: space-between;
  position: relative; }
  @media (min-width: 768px) {
    header {
      justify-content: flex-end;
      gap: 48px; } }
  @media (min-width: 1440px) {
    header {
      gap: 57px; } }
  @media (min-width: 768px) {
    header .logo {
      display: none; } }
  @media (min-width: 1440px) {
    header .logo {
      display: inline; } }
  header .scroll__btn__tablet {
    border-radius: 60px;
    background-color: #6248ff;
    padding: 13px 24px;
    color: #fff;
    font-family: "Museo Sans Cyrl";
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: all 0.2s linear;
    display: none; }
    header .scroll__btn__tablet:hover:not(:disabled) {
      background-color: #7181fc; }
    header .scroll__btn__tablet:active:not(:disabled) {
      background-color: #354bf4; }
    header .scroll__btn__tablet:disabled {
      background-color: #e0e0e0;
      cursor: not-allowed; }
    @media (min-width: 768px) {
      header .scroll__btn__tablet {
        display: inline-block; } }
    @media (min-width: 1440px) {
      header .scroll__btn__tablet {
        display: none; } }

@media (min-width: 1440px) {
  .menu {
    display: flex;
    flex: 1; } }

.nav__wrap {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  top: 77px;
  right: 0;
  width: 100%;
  transition: all 0.3s linear; }
  @media (min-width: 768px) {
    .nav__wrap {
      width: 30%;
      top: 102px; } }
  @media (min-width: 1440px) {
    .nav__wrap {
      position: static;
      opacity: 1;
      visibility: visible;
      width: 100%;
      display: flex;
      justify-content: space-between; } }
  .nav__wrap.active {
    opacity: 1;
    visibility: visible; }

.header__nav {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  @media (min-width: 1440px) {
    .header__nav {
      flex-direction: row;
      gap: 32px;
      align-items: center; } }
  .header__nav a {
    padding: 15px 0;
    background-color: #fff;
    border-top: 3px solid #a89bf0;
    border-bottom: 3px solid #a89bf0;
    text-align: center;
    transition: all 0.3s linear; }
    .header__nav a:hover {
      background-color: #7181fc; }
      @media (min-width: 1440px) {
        .header__nav a:hover {
          background-color: inherit;
          color: #7181fc; } }
    @media (min-width: 1440px) {
      .header__nav a {
        background-color: inherit;
        border: unset;
        padding: 0px; } }
    .header__nav a:not(:last-child) {
      border-bottom: 0; }

nav a {
  color: #333;
  font-family: "Museo Sans Cyrl";
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.06;
  text-decoration: none; }

.authoriz {
  text-align: center;
  padding: 10px 0;
  background-color: #fff; }
  @media (min-width: 1440px) {
    .authoriz {
      display: flex;
      padding: 0px;
      justify-self: flex-end;
      align-items: center; } }
  @media (min-width: 1440px) {
    .authoriz {
      gap: 24px; } }

.lang__cont {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  padding: 10px 16px;
  border-radius: 60px;
  border: 1px solid #000;
  cursor: pointer;
  margin-right: 24px; }
  @media (min-width: 768px) {
    .lang__cont {
      margin: 0; } }
  .lang__cont span {
    color: #333;
    font-family: "Museo Sans Cyrl";
    font-size: 1.5rem;
    font-weight: 500; }

.scroll__btn {
  border-radius: 60px;
  background-color: #6248ff;
  padding: 13px 24px;
  color: #fff;
  font-family: "Museo Sans Cyrl";
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear; }
  .scroll__btn:hover:not(:disabled) {
    background-color: #7181fc; }
  .scroll__btn:active:not(:disabled) {
    background-color: #354bf4; }
  .scroll__btn:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed; }
  @media (min-width: 768px) {
    .scroll__btn {
      display: none; } }
  @media (min-width: 1440px) {
    .scroll__btn {
      display: inline; } }

.burger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer; }
  @media (min-width: 1440px) {
    .burger {
      display: none; } }
  .burger span {
    height: 3px;
    width: 25px;
    border-radius: 2px;
    background-color: #000; }

.trade {
  background-color: #f0edff; }
  .trade__cont {
    padding: 32px 20px;
    text-align: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto; }
    @media (min-width: 1440px) {
      .trade__cont {
        display: flex;
        justify-content: space-between;
        padding: 100px 0px; } }
  .trade__cont__info {
    text-align: left; }
    @media (min-width: 768px) {
      .trade__cont__info {
        text-align: center; } }
    @media (min-width: 1440px) {
      .trade__cont__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center; } }
  .trade__title {
    color: #333;
    font-family: "Museo Sans Cyrl";
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.1;
    margin: 0px; }
    @media (min-width: 768px) {
      .trade__title {
        color: #333;
        font-family: "Museo Sans Cyrl";
        font-size: 6.4rem;
        font-weight: 500;
        line-height: 1.12;
        text-align: center;
        max-width: 688px;
        width: 100%;
        margin: 0 auto; } }
    @media (min-width: 1440px) {
      .trade__title {
        margin: 0;
        text-align: left; } }
  .trade__text {
    color: #4f4f4f;
    font-family: "Montserrat";
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    margin: 24px 0px 32px; }
    @media (min-width: 768px) {
      .trade__text {
        max-width: 490px;
        width: 100%;
        margin: 32px auto 48px; } }
    @media (min-width: 1440px) {
      .trade__text {
        margin: 32px 0 48px;
        text-align: left; } }
  .trade__btn {
    border-radius: 60px;
    background-color: #6248ff;
    padding: 20px 76px;
    color: #fff;
    font-family: "Museo Sans Cyrl";
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: all 0.2s linear;
    letter-spacing: 0.48px;
    display: block;
    margin: 0 auto; }
    .trade__btn:hover:not(:disabled) {
      background-color: #7181fc; }
    .trade__btn:active:not(:disabled) {
      background-color: #354bf4; }
    .trade__btn:disabled {
      background-color: #e0e0e0;
      cursor: not-allowed; }
    @media (min-width: 1440px) {
      .trade__btn {
        margin: 0; } }
  .trade__img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 519px;
    margin-top: 32px; }
    @media (min-width: 1440px) {
      .trade__img {
        margin: 0; } }

.steps {
  padding: 80px 20px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .steps {
      max-width: 698px;
      padding: 120px 0px; } }
  @media (min-width: 1440px) {
    .steps {
      max-width: 1100px;
      padding: 120px 0px;
      padding: 140px 0px; } }
  .steps__title {
    color: #333;
    font-family: "Museo Sans Cyrl";
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.1;
    display: block;
    margin: 0 auto;
    max-width: 538px; }
    @media (min-width: 768px) {
      .steps__title {
        color: #333;
        font-family: "Museo Sans Cyrl";
        font-size: 5.6rem;
        font-weight: 500;
        line-height: 1.25;
        max-width: 439px;
        margin: 0; } }
    .steps__title span {
      background-color: #eef0ff; }
  .steps__card__cont {
    margin-top: 32px; }
    @media (min-width: 768px) {
      .steps__card__cont {
        position: relative;
        display: grid;
        column-gap: 30px;
        margin-top: 48px;
        grid-template-areas: "card1 ." "card1 ." "card1 ." "card1 card2" ". card2" ". card2" "card3 card2" "card3 ." "card3 ." "card3 card4" ". card4" ". card4" ". card4"; } }
  @media (min-width: 768px) and (min-width: 1440px) {
    .steps__card__cont {
      row-gap: 10px; } }

    @media (min-width: 1440px) {
      .steps__card__cont {
        column-gap: 132px;
        margin-top: 60px; } }

.steps__conect__line {
  display: none; }
  @media (min-width: 768px) {
    .steps__conect__line {
      display: inline;
      position: absolute; } }
  .steps__conect__line:nth-of-type(1) {
    top: 118px;
    right: 168px; }
    @media (min-width: 1440px) {
      .steps__conect__line:nth-of-type(1) {
        top: 90px;
        right: 240px; } }
  .steps__conect__line:nth-of-type(2) {
    top: 315px;
    left: 166px; }
    @media (min-width: 1440px) {
      .steps__conect__line:nth-of-type(2) {
        top: 273px;
        left: 240px; } }
  .steps__conect__line:nth-of-type(3) {
    top: 514px;
    right: 168px; }
    @media (min-width: 1440px) {
      .steps__conect__line:nth-of-type(3) {
        top: 457px;
        right: 240px; } }

.steps__card {
  padding: 24px;
  border-radius: 30px;
  border: 2px solid #4f62f6;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  z-index: 1;
  position: relative; }
  @media (min-width: 768px) {
    .steps__card {
      padding: 32px;
      max-width: 331px;
      width: auto;
      margin: 0; } }
  @media (min-width: 1440px) {
    .steps__card {
      max-width: 483px; } }
  .steps__card:not(:last-of-type) {
    margin-bottom: 24px; }
    @media (min-width: 768px) {
      .steps__card:not(:last-of-type) {
        margin-bottom: 0; } }
  @media (min-width: 768px) {
    .steps__card:nth-of-type(1) {
      grid-area: card1;
      justify-self: end; } }
  @media (min-width: 768px) {
    .steps__card:nth-of-type(2) {
      grid-area: card2;
      justify-self: start; } }
  @media (min-width: 768px) {
    .steps__card:nth-of-type(3) {
      grid-area: card3;
      justify-self: end; } }
  @media (min-width: 768px) {
    .steps__card:nth-of-type(4) {
      grid-area: card4;
      justify-self: start; } }
  .steps__card__num {
    color: #4f62f6;
    font-family: "Museo Sans Cyrl";
    font-size: 1.5rem;
    font-weight: 500; }
  .steps__card__title {
    color: #333;
    font-family: "Museo Sans Cyrl";
    font-size: 2.4rem;
    font-weight: 500;
    margin: 8px 0 24px; }
  .steps__card__text {
    color: #4f4f4f;
    font-family: "Montserrat";
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; }

.slider__cont {
  padding: 0px 20px;
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto auto;
  grid-template-areas: " title title title" "slide slide slide" "btn_l num btn_r"; }
  @media (min-width: 768px) {
    .slider__cont {
      grid-template-columns: 10% max-content 10%;
      justify-content: center;
      grid-template-areas: " title title title" "btn_l slide btn_r" "num num num"; } }
  @media (min-width: 1440px) {
    .slider__cont {
      grid-template-columns: 4% max-content max-content max-content;
      grid-template-areas: " title title slide slide" "btn_l btn_r slide slide" "num num num num"; } }

.slider__title {
  color: #333;
  font-family: "Museo Sans Cyrl";
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.2;
  grid-area: title; }
  @media (min-width: 768px) {
    .slider__title {
      justify-self: start;
      max-width: 460px; } }
  .slider__title span {
    background-color: #f0edff; }

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0 24px 0;
  grid-area: slide; }
  @media (min-width: 768px) {
    .slide {
      margin: 48px 0 32px 0; } }
  @media (min-width: 1440px) {
    .slide {
      margin: 0 0 32px 0;
      align-items: flex-start;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-areas: ". person" "quote text"; } }
  .slide__text {
    color: #333;
    font-family: "Museo Sans Cyrl";
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1;
    text-align: center; }
    @media (min-width: 768px) {
      .slide__text {
        max-width: 585px; } }
    @media (min-width: 1440px) {
      .slide__text {
        text-align: left;
        grid-area: text;
        margin-top: 20px; } }
  .slide__quotes {
    margin: 24px 0; }
    @media (min-width: 1440px) {
      .slide__quotes {
        grid-area: quote;
        margin: 20px 15px 0 0; } }

.person__cont {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 1440px) {
    .person__cont {
      flex-direction: row;
      align-items: center;
      grid-area: person; } }

.slide__name__cont {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 1440px) {
    .slide__name__cont {
      align-items: flex-start;
      margin-left: 30px; } }

.slide__name {
  color: #333;
  font-family: "Museo Sans Cyrl";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.66;
  margin-top: 8px; }

.slide__position {
  color: #717171;
  font-family: "Montserrat";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.68; }

.slide__num {
  color: #6248ff;
  font-family: "Museo Sans Cyrl";
  font-size: 1.5rem;
  font-weight: 500;
  grid-area: num;
  align-self: center; }
  @media (min-width: 1440px) {
    .slide__num {
      margin-left: 26px; } }

.slider__btn {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.2s linear;
  cursor: pointer; }
  .slider__btn:hover {
    border-color: #6248ff; }

.slider__btn__left {
  grid-area: btn_l;
  justify-self: start; }
  @media (min-width: 768px) {
    .slider__btn__left {
      align-self: end;
      margin-bottom: 110px; } }
  @media (min-width: 1440px) {
    .slider__btn__left {
      margin: 0; } }

.slider__btn__right {
  grid-area: btn_r;
  justify-self: end; }
  @media (min-width: 768px) {
    .slider__btn__right {
      align-self: end;
      margin-bottom: 110px; } }
  @media (min-width: 1440px) {
    .slider__btn__right {
      justify-self: start;
      margin: 0; } }

.faq__cont {
  margin: 0 auto;
  padding: 80px 20px;
  max-width: 1200px; }
  @media (min-width: 768px) {
    .faq__cont {
      padding: 120px 40px; } }

.faq__title {
  color: #333;
  font-family: "Museo Sans Cyrl";
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 32px;
  max-width: 480px; }
  .faq__title span {
    background-color: #eef0ff; }

.faq__card__cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .faq__card__cont {
      max-width: 995px; } }

.faq__question__title {
  color: #333;
  font-family: "Museo Sans Cyrl";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1; }

.faq__card__answ {
  color: #4f4f4f;
  font-family: "Montserrat";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.68;
  margin-top: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, margin-top 0.5s ease; }
  @media (min-width: 768px) {
    .faq__card__answ {
      padding-right: 50px; } }

.faq__card {
  padding: 24px 16px;
  border-radius: 15px;
  border: 2px solid #4f62f6; }
  @media (min-width: 768px) {
    .faq__card {
      padding: 32px 40px; } }
  .faq__card.active .faq__card__answ {
    margin-top: 24px; }
  .faq__card.active .faq__icon {
    transform: rotate(45deg); }
  .faq__card__quest {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; }

.faq__icon {
  width: 24px;
  transition: transform 0.3s ease; }

.contact__wrap {
  background-color: #f3f1ff;
  padding: 48px 20px;
  display: flex;
  justify-content: center; }
  @media (min-width: 768px) {
    .contact__wrap {
      padding: 48px 0px; } }
  @media (min-width: 1440px) {
    .contact__wrap {
      padding: 120px 0px; } }

.contact {
  display: flex;
  flex-direction: column;
  gap: 48px; }
  @media (min-width: 1440px) {
    .contact {
      flex-direction: row;
      max-width: 1200px;
      width: 100%;
      justify-content: space-between;
      align-items: center; } }
  .contact__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: 508px; }
    .contact__info__title {
      color: #333;
      font-family: "Museo Sans Cyrl";
      font-size: 4rem;
      font-weight: 500;
      line-height: 1.1; }
      @media (min-width: 768px) {
        .contact__info__title {
          align-self: center; } }
      @media (min-width: 1440px) {
        .contact__info__title {
          align-self: flex-start; } }
    .contact__info__text {
      color: #4f4f4f;
      font-family: "Montserrat";
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.66; }
      @media (min-width: 768px) {
        .contact__info__text {
          padding: 16px 0 8px 0; } }
      .contact__info__text span {
        color: #4f4f4f;
        font-family: "Montserrat";
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.68;
        display: block;
        margin-top: 24px; }
        @media (min-width: 768px) {
          .contact__info__text span {
            margin-top: 32px; } }
        @media (min-width: 1440px) {
          .contact__info__text span {
            margin-top: 48px; } }
    .contact__info__data {
      color: #4f4f4f;
      font-family: "Montserrat";
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.68; }
      .contact__info__data span {
        color: #333;
        font-family: "Museo Sans Cyrl";
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.06;
        display: block;
        margin-bottom: 8px; }

.contact__form__wrap {
  padding: 48px 16px;
  border-radius: 20px;
  border: 2px solid #4f62f6;
  background: #fff;
  max-width: 508px;
  width: 100%; }
  @media (min-width: 768px) {
    .contact__form__wrap {
      padding: 80px 40px; } }

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 24px; }

.input__email:focus,
.input__name:focus,
textarea:focus {
  outline: none;
  border: 1px solid #828282; }

.input__name,
.input__email,
.input__textarea {
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  color: #4f4f4f;
  font-family: "Montserrat";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  padding: 12px 0 12px 16px; }

.input__email {
  width: 100%; }

.input__textarea {
  padding-bottom: 0;
  min-height: 90px;
  resize: none; }

input:-webkit-autofill {
  -webkit-text-fill-color: #4f4f4f;
  color: #4f4f4f;
  font-family: "Montserrat";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1; }

.valid {
  border: 1px solid #0eac00; }

.invalid {
  border: 1px solid #eb5757; }

.email__wrapper {
  position: relative; }

.email__wrapper span {
  color: #eb5757;
  font-family: "Museo Sans Cyrl";
  font-size: 15px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px; }

.contact__btn__subm {
  border-radius: 60px;
  background-color: #6248ff;
  padding: 20px 64px;
  color: #fff;
  font-family: "Museo Sans Cyrl";
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
  align-self: center;
  letter-spacing: 0.48px; }
  .contact__btn__subm:hover:not(:disabled) {
    background-color: #7181fc; }
  .contact__btn__subm:active:not(:disabled) {
    background-color: #354bf4; }
  .contact__btn__subm:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed; }

footer {
  padding: 46px 0 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px; }
  @media (min-width: 768px) {
    footer {
      padding: 62px 0 48px;
      gap: 40px; } }
  @media (min-width: 1440px) {
    footer {
      padding: 32px 120px 72px; } }

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 20px;
  width: 100%; }
  @media (min-width: 768px) {
    .footer {
      align-items: center;
      padding: 0; } }
  @media (min-width: 1440px) {
    .footer {
      flex-direction: row;
      align-items: flex-start;
      padding: 0; } }
  .footer__logo {
    align-self: center; }
    @media (min-width: 1440px) {
      .footer__logo {
        margin: 0 160px 0 0;
        align-self: flex-start; } }
  .footer__nav {
    display: flex;
    flex-direction: column;
    margin: 46px 0 32px;
    gap: 32px; }
    @media (min-width: 768px) {
      .footer__nav {
        flex-direction: row;
        justify-content: space-between;
        margin: 54px 0 40px;
        gap: 47px; } }
    @media (min-width: 1440px) {
      .footer__nav {
        flex-direction: column;
        order: 11;
        margin: 0 0 0 96px;
        gap: 24px; } }
  .footer__card + .footer__card {
    margin-top: 24px; }
    @media (min-width: 768px) {
      .footer__card + .footer__card {
        margin-top: 32px; } }
    @media (min-width: 1440px) {
      .footer__card + .footer__card {
        margin: 0 0 0 30px; } }
  .footer__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px; }
    @media (min-width: 768px) {
      .footer__card {
        align-items: center;
        max-width: 508px; } }
    @media (min-width: 1440px) {
      .footer__card {
        max-width: 380px; } }
    .footer__card__title {
      color: #333;
      font-family: "Museo Sans Cyrl";
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1; }
    .footer__card__text {
      color: #4f4f4f;
      font-family: "Montserrat";
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.68; }
  .footer__copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 1440px; }
    @media (min-width: 1440px) {
      .footer__copy {
        flex-direction: row;
        justify-content: space-between; } }
    .footer__copy__text {
      color: #828282;
      font-family: "Montserrat";
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.68; }
    .footer__copy__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px; }
      @media (min-width: 1440px) {
        .footer__copy__link {
          flex-direction: row;
          gap: 66px; } }
      .footer__copy__link a {
        color: #828282;
        font-family: "Montserrat";
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.68;
        text-decoration: none; }

/*# sourceMappingURL=style.css.map */
