header {
  display: flex;
  align-items: center;
  padding: 30px 20px;
  justify-content: space-between;
  position: relative;
  @media (min-width: 768px) {
    justify-content: flex-end;
    gap: 48px;
  }

  @media (min-width: 1440px) {
    gap: 57px;
  }
  .logo {
    @media (min-width: 768px) {
      display: none;
    }
    @media (min-width: 1440px) {
      display: inline;
    }
  }
  .scroll__btn__tablet {
    @include btn();
    display: none;
    @media (min-width: 768px) {
      display: inline-block;
    }
    @media (min-width: 1440px) {
      display: none;
    }
  }
}

.menu {
  @media (min-width: 1440px) {
    display: flex;
    flex: 1;
  }
}

.nav__wrap {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  top: 77px;
  right: 0;
  width: 100%;
  transition: all 0.3s linear;
  @media (min-width: 768px) {
    width: 30%;
    top: 102px;
  }

  @media (min-width: 1440px) {
    position: static;
    opacity: 1;
    visibility: visible;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.header__nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  @media (min-width: 1440px) {
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }

  a {
    padding: 15px 0;
    background-color: #fff;
    border-top: 3px solid #a89bf0;
    border-bottom: 3px solid #a89bf0;
    text-align: center;
    transition: all 0.3s linear;
    &:hover {
      background-color: #7181fc;
      @media (min-width: 1440px) {
        background-color: inherit;
        color: #7181fc;
      }
    }
    @media (min-width: 1440px) {
      background-color: inherit;
      border: unset;
      padding: 0px;
    }

    &:not(:last-child) {
      border-bottom: 0;
    }
  }
}

nav {
  a {
    color: #333;
    font-family: "Museo Sans Cyrl";
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.06;
    text-decoration: none;
  }
}

.authoriz {
  text-align: center;
  padding: 10px 0;
  background-color: #fff;
  @media (min-width: 1440px) {
    display: flex;
    padding: 0px;
    justify-self: flex-end;
    align-items: center;
  }
  @media (min-width: 1440px) {
    gap: 24px;
  }
}

.lang__cont {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  padding: 10px 16px;
  border-radius: 60px;
  border: 1px solid #000;
  cursor: pointer;
  margin-right: 24px;
  @media (min-width: 768px) {
    margin: 0;
  }

  span {
    color: #333;
    font-family: "Museo Sans Cyrl";
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.scroll__btn {
  @include btn();
  @media (min-width: 768px) {
    display: none;
  }
  @media (min-width: 1440px) {
    display: inline;
  }
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  @media (min-width: 1440px) {
    display: none;
  }

  span {
    height: 3px;
    width: 25px;
    border-radius: 2px;
    background-color: #000;
  }
}
