.trade {
  background-color: #f0edff;

  &__cont {
    padding: 32px 20px;
    text-align: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    @media (min-width: 1440px) {
      display: flex;
      justify-content: space-between;
      padding: 100px 0px;
    }
  }

  &__cont__info {
    text-align: left;
    @media (min-width: 768px) {
      text-align: center;
    }
    @media (min-width: 1440px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }
  &__title {
    @include title();
    margin: 0px;
    @media (min-width: 768px) {
      @include title(6.4rem, 1.12);
      text-align: center;
      max-width: 688px;
      width: 100%;
      margin: 0 auto;
    }
    @media (min-width: 1440px) {
      margin: 0;
      text-align: left;
    }
  }

  &__text {
    color: #4f4f4f;
    font-family: "Montserrat";
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    margin: 24px 0px 32px;
    @media (min-width: 768px) {
      max-width: 490px;
      width: 100%;
      margin: 32px auto 48px;
    }
    @media (min-width: 1440px) {
      margin: 32px 0 48px;
      text-align: left;
    }
  }
  &__btn {
    @include btn($padding: 20px 76px, $font-size: 1.6rem);
    letter-spacing: 0.48px;
    display: block;
    margin: 0 auto;
    @media (min-width: 1440px) {
      margin: 0;
    }
  }
  &__img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 519px;
    margin-top: 32px;
    @media (min-width: 1440px) {
      margin: 0;
    }
  }
}
